Repository gabadi/intellipost-ia: changes, and which pre-commit hooks are due for each by the changed paths.
All: tach, dependency-cruiser

tach:
  name: tach-check
  entry: uv run tach check
  language: system

dependency-cruiser:
  name: dependency-cruiser-check
  entry: sh -c 'cd frontend && npm run dep-check'
  language: system

refactor(arch): Unify monorepo management with package.json and uvx
  .pre-commit-config.yaml
  README.md
  backend/intellipost_ia.egg-info/PKG-INFO
  backend/intellipost_ia.egg-info/requires.txt
  frontend/.svelte-kit/ambient.d.ts
  frontend/.svelte-kit/non-ambient.d.ts
  frontend/.svelte-kit/tsconfig.json
  frontend/package.json
  frontend/src/lib/test.ts
  frontend/svelte.config.js
  frontend/tsconfig.json
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: dependency-cruiser

feat: address PR comments and update dependencies
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  backend/intellipost_ia.egg-info/PKG-INFO
  backend/intellipost_ia.egg-info/SOURCES.txt
  backend/intellipost_ia.egg-info/dependency_links.txt
  backend/intellipost_ia.egg-info/requires.txt
  backend/intellipost_ia.egg-info/top_level.txt
  docker-compose.test.yml
  docs/architecture/coding-standards.md
  docs/architecture/source-tree.md
  docs/architecture/tech-stack.md
  frontend/.dependency-cruiser.json
  frontend/.svelte-kit/ambient.d.ts
  frontend/.svelte-kit/non-ambient.d.ts
  frontend/.svelte-kit/tsconfig.json
  package.json
  pyproject.toml
  tach.toml
  uv.lock
Due: dependency-cruiser

refactor(arch): Move Python configs to backend directory
  backend/pyproject.toml
  backend/tach.toml
  backend/uv.lock
  package.json
Due: none

chore: Update uv.lock after adding pre-commit dependency
  backend/uv.lock
Due: none

chore: bmad method
  .bmad-core/install-manifest.yml
  expansion-packs/story-implementation/story-implementation/README.md
  expansion-packs/story-implementation/story-implementation/manifest.yml
  expansion-packs/story-implementation/story-implementation/tasks/approve-story-for-development.md
  expansion-packs/story-implementation/story-implementation/tasks/capture-learning-triage.md
  expansion-packs/story-implementation/story-implementation/tasks/commit-and-prepare-pr.md
  expansion-packs/story-implementation/story-implementation/tasks/consolidate-review-feedback.md
  expansion-packs/story-implementation/story-implementation/tasks/create-comprehensive-pr.md
  expansion-packs/story-implementation/story-implementation/tasks/epic-party-mode-retrospective.md
  expansion-packs/story-implementation/story-implementation/tasks/implement-consolidated-fixes.md
  expansion-packs/story-implementation/story-implementation/tasks/implement-story-development.md
  expansion-packs/story-implementation/story-implementation/tasks/party-mode-learning-review.md
  expansion-packs/story-implementation/story-implementation/tasks/setup-development-environment.md
  expansion-packs/story-implementation/story-implementation/tasks/update-epic-progress.md
  expansion-packs/story-implementation/story-implementation/tasks/validate-consolidated-fixes.md
  expansion-packs/story-implementation/story-implementation/workflows/story-implementation.yml
  expansion-packs/story-implementation/story-implementation/workflows/story-simple.yml
Due: none

feat(backend): FastAPI framework with hexagonal architecture
  .pre-commit-config.yaml
  backend/.env.example
  backend/api/routers/__init__.py
  backend/api/routers/health.py
  backend/api/schemas/__init__.py
  backend/api/schemas/health.py
  backend/application/dto/__init__.py
  backend/application/use_cases/__init__.py
  backend/domain/entities/__init__.py
  backend/domain/entities/product.py
  backend/domain/entities/user.py
  backend/domain/exceptions.py
  backend/domain/services/__init__.py
  backend/domain/services/protocols.py
  backend/infrastructure/config/__init__.py
  backend/infrastructure/config/dependencies.py
  backend/infrastructure/config/logging.py
  backend/infrastructure/config/settings.py
  backend/main.py
  backend/pyproject.toml
  backend/tach.toml
  backend/uv.lock
Due: tach

docs: update Epic1.Story2 status to Changes Committed and add PR context
  docs/stories/epic1.story2.story.md
  pr-context-epic1-story2.md
Due: none

docs: update Epic1.Story2 status to PR Created and add PR details
  docs/stories/epic1.story2.story.md
Due: none

feat(backend): Complete Epic1.Story2 modularity improvements and PR review fixes
  backend/domain/entities/__init__.py
  backend/domain/entities/confidence_score.py
  backend/domain/entities/product.py
  backend/domain/entities/product_business_rules.py
  backend/domain/entities/product_core.py
  backend/domain/entities/product_status.py
  backend/domain/entities/product_status_manager.py
  backend/domain/entities/user.py
  backend/domain/entities/user_auth.py
  backend/domain/entities/user_core.py
  backend/domain/entities/user_ml_integration.py
  backend/domain/entities/user_profile.py
  backend/domain/entities/user_status.py
  backend/domain/exceptions.py
  backend/domain/services/__init__.py
  backend/domain/services/ai_service_protocols.py
  backend/domain/services/domain_service_protocols.py
  backend/domain/services/external_service_protocols.py
  backend/domain/services/protocols.py
  backend/domain/services/repository_protocols.py
  backend/pyproject.toml
  backend/tach.toml
Due: tach

feat(infrastructure): Implement PostgreSQL and align with tech stack specifications
  .env.example
  backend/Dockerfile
  backend/alembic.ini
  backend/infrastructure/config/settings.py
  backend/infrastructure/database.py
  backend/migrations/README
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/pyproject.toml
  docker-compose.yml
  frontend/Dockerfile
  scripts/init-db.sql
  tests/conftest.py
Due: tach

chore: remove all epic progress tracking files
  docs/architecture/coding-standards.md
  docs/architecture/system-overview.md
  docs/epics/epic1-consensus-insights.md
  docs/epics/epic1-knowledge-base.md
  docs/epics/epic1-pattern-analysis.md
  docs/epics/epic1-progress.md
  docs/epics/epic1-retrospective-data.md
  docs/epics/epic1-retrospective-summary.md
Due: none

docs(pr): Address specific PR review comments with architectural justification
  PR_COMMENTS_RESOLUTION_SUMMARY.md
  PR_RESPONSE_DEPENDENCY_INJECTION.md
  backend/infrastructure/config/dependencies.py
Due: tach

fix: resolve pre-commit hook failures and quality issues
  .env.example
  PROCESS_LEARNING.md
  backend/.env.example
  backend/Dockerfile
  backend/api/routers/health.py
  backend/application/__init__.py
  backend/application/dto/__init__.py
  backend/application/use_cases/__init__.py
  backend/domain/__init__.py
  backend/domain/exceptions.py
  backend/infrastructure/README.md
  backend/infrastructure/config/base_config.py
  backend/infrastructure/config/dependencies.py
  backend/infrastructure/config/logging.py
  backend/infrastructure/config/settings.py
  backend/infrastructure/database.py
  backend/infrastructure/health/__init__.py
  backend/infrastructure/health/health.py
  backend/infrastructure/health/health_checker.py
  backend/infrastructure/health/health_router.py
  backend/infrastructure/health/health_schema.py
  backend/main.py
  backend/modules/ai_content/infrastructure/config.py
  backend/modules/mercadolibre/infrastructure/config.py
  backend/modules/product/domain/confidence_score.py
  backend/modules/product/domain/exceptions.py
  backend/modules/product/infrastructure/config.py
  backend/modules/user/domain/exceptions.py
  backend/modules/user/infrastructure/config.py
  backend/pyproject.toml
  backend/tach.toml
  consolidated-action-plan-epic1-story2.md
  docs/epics/epic1-progress.md
  docs/stories/epic1.story1.story.md
  docs/stories/epic1.story2.story.md
  pr-context-epic1-story2.md
  pre-refactor-validation-report.md
Due: tach

fix: address additional PR review comments with comprehensive fixes
  backend/infrastructure/config/dependencies.py
  backend/infrastructure/config/logging.py
  backend/infrastructure/config/settings.py
  backend/modules/communications/domain/email_service_protocol.py
  backend/modules/mercadolibre/domain/mercadolibre_service_protocol.py
Due: tach

refactor: reorganize domain protocols into ports/ directories
  DATABASE.md
  HEXAGONAL_ARCHITECTURE.md
  PROCESS_LEARNING.md
  PR_COMMENTS_RESOLUTION_SUMMARY.md
  PR_RESPONSE_DEPENDENCY_INJECTION.md
  backend/modules/ai_content/domain/ports/__init__.py
  backend/modules/ai_content/domain/ports/ai_service_protocols.py
  backend/modules/communications/domain/email_service_protocol.py
  backend/modules/communications/domain/ports/__init__.py
  backend/modules/communications/domain/ports/email_service_protocol.py
  backend/modules/mercadolibre/domain/mercadolibre_service_protocol.py
  backend/modules/mercadolibre/domain/ports/__init__.py
  backend/modules/mercadolibre/domain/ports/mercadolibre_service_protocol.py
  backend/modules/product/domain/ports/__init__.py
  backend/modules/product/domain/ports/product_repository_protocol.py
  backend/modules/user/domain/ports/__init__.py
  backend/modules/user/domain/ports/user_repository_protocol.py
  docker-compose.yml
  tests/README.md
  tests/integration/api/test_health.py
  tests/modules/shared/test_health.py
  tests/modules/shared/test_main.py
Due: tach

refactor: remove excessive comments and documentation
  backend/infrastructure/README.md
  backend/infrastructure/config/dependencies.py
  backend/infrastructure/config/logging.py
  backend/infrastructure/config/settings.py
Due: tach

fix: trailing whitespace in tach.toml
  backend/modules/ai_content/domain/ports/ai_service_protocols.py
  backend/modules/auth/domain/user_domain_service.py
  backend/tach.toml
Due: tach

fix: trailing whitespace in coding-standards.md
  docs/architecture/coding-standards.md
Due: none

chore: remove redundant documentation files
  DATABASE.md
  HEXAGONAL_ARCHITECTURE.md
Due: none

feat: restore essential testing strategy information
  docs/architecture/coding-standards.md
Due: none

fix: format CI workflow (trailing whitespace and EOF)
  .github/workflows/ci.yml
Due: none

fix: resolve CI workflow dependency issues
  .github/workflows/ci.yml
Due: none

fix: add pyright to dev dependencies for CI type checking
  .github/workflows/ci.yml
  backend/pyproject.toml
Due: none

fix: frontend CI and dependencies
  .github/workflows/ci.yml
  frontend/package.json
  frontend/src/app.html
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/test-setup.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  package-lock.json
Due: dependency-cruiser

fix: frontend CI and dependencies
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/eslint.config.js
  frontend/src/lib/test.ts
Due: dependency-cruiser

fix: change Python version to 3.12 in CI
  .github/workflows/ci.yml
Due: none

fix: exclude .venv from pyright analysis
  .github/workflows/ci.yml
  backend/pyproject.toml
Due: none

fix: change Python version to 3.12 in CI
  .github/workflows/ci.yml
  backend/.gitignore
  backend/pyproject.toml
Due: none

fix: apply final prettier formatting
  .github/workflows/ci.yml
Due: none

fix: resolve all npm run check-all errors in backend and frontend
  backend/infrastructure/config/dependencies.py
  backend/infrastructure/config/logging.py
  backend/infrastructure/health/health_checker.py
  backend/main.py
  backend/modules/ai_content/domain/ports/ai_service_protocols.py
  backend/modules/product/domain/product_core.py
  backend/modules/product/domain/product_domain_service.py
  backend/modules/product/domain/product_status_manager.py
  backend/modules/user/domain/user_auth.py
  backend/modules/user/domain/user_core.py
  backend/modules/user/domain/user_ml_integration.py
  backend/pyproject.toml
  backend/tach.toml
  backend/uv.lock
  frontend/package.json
Due: tach

fix: resolve security issues and formatting errors
  backend/infrastructure/config/settings.py
Due: tach

fix: resolve ESLint and Prettier formatting conflicts
  frontend/eslint.config.js
Due: dependency-cruiser

fix: replace archived mirrors-prettier with local prettier pre-commit hook
  .pre-commit-config.yaml
  frontend/eslint.config.js
  frontend/svelte.config.js
  frontend/vite.config.ts
Due: dependency-cruiser

Path conditions:
  tach: any of: ^backend/ and \.py$
  dependency-cruiser: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
