Repository gabadi/intellipost-ia: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tach, prettier

pyright:
  name: pyright-check
  entry: uv run pyright backend/
  language: system

tach:
  name: tach-check
  entry: bash -c 'cd backend && uvx tach check'
  language: system
  pass_filenames: false

prettier:
  name: prettier-format
  entry: sh -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: false

fix: enable CI pipeline to pass without requiring running PostgreSQL instance
  backend/pyproject.toml
  tests/conftest.py
  tests/integration/api/test_health.py
  tests/integration/api/test_main_integration.py
Due: none

fix: resolve CI pipeline failures by addressing ESLint warnings and security scan issues
  backend/modules/user_management/infrastructure/services/mercadolibre_api_client.py
  backend/modules/user_management/infrastructure/services/ml_oauth_service.py
  frontend/src/lib/stores/auth.ts
Due: pyright, tach, prettier

fix: correct database URL configuration in GitHub Actions CI workflow
  .github/workflows/ci.yml
Due: none

fix: quote database URL in CI workflow to prevent YAML parsing issues
  .github/workflows/ci.yml
Due: none

fix: simplify CI workflow to run unit tests only, avoiding database dependency
  .github/workflows/ci.yml
Due: none

bmad_update
  .bmad-core/agents/analyst.md
  .bmad-core/agents/architect.md
  .bmad-core/agents/bmad-master.md
  .bmad-core/agents/bmad-orchestrator.md
  .bmad-core/agents/dev.md
  .bmad-core/agents/pm.md
  .bmad-core/agents/po.md
  .bmad-core/agents/qa.md
  .bmad-core/agents/sm.md
  .bmad-core/agents/ux-expert.md
  .bmad-core/checklists/change-checklist.md
  .bmad-core/checklists/story-draft-checklist.md
  .bmad-core/data/bmad-kb.md
  .bmad-core/tasks/advanced-elicitation.md
  .bmad-core/tasks/create-doc.md
  .bmad-core/tasks/create-next-story.md
  .bmad-core/tasks/kb-mode-interaction.md
  .bmad-core/tasks/review-story.md
  .bmad-core/tasks/shard-doc.md
  .bmad-core/utils/template-format.md
  .bmad-core/utils/workflow-management.md
  .claude/commands/analyst.md
  .claude/commands/architect.md
  .claude/commands/bmad-master.md
  .claude/commands/bmad-orchestrator.md
  .claude/commands/dev.md
  .claude/commands/pm.md
  .claude/commands/po.md
  .claude/commands/qa.md
  .claude/commands/sm.md
  .claude/commands/ux-expert.md
Due: none

bmad_update
  .bmad-core/templates/fullstack-architecture-tmpl.yaml
  .pre-commit-config.yaml
  backend/pyproject.toml
  frontend/.prettierignore
Due: none

bmad_update
  .bmad-core/agents/analyst.md
  .bmad-core/agents/architect.md
  .bmad-core/agents/bmad-orchestrator.md
  .bmad-core/agents/dev.md
  .bmad-core/agents/pm.md
  .bmad-core/agents/po.md
  .bmad-core/agents/qa.md
  .bmad-core/agents/sm.md
  .bmad-core/agents/ux-expert.md
  .bmad-core/data/bmad-kb.md
  .bmad-core/tasks/create-brownfield-story.md
  .bmad-core/tasks/doc-migration-task.md
  .bmad-core/tasks/document-project.md
  .bmad-core/tasks/facilitate-brainstorming-session.md
  .bmad-core/tasks/kb-mode-interaction.md
  .bmad-core/tasks/review-story.md
  .bmad-core/templates/architecture-tmpl.yaml
  .bmad-core/templates/brainstorming-output-tmpl.yaml
  .bmad-core/templates/brownfield-architecture-tmpl.yaml
  .bmad-core/templates/brownfield-prd-tmpl.yaml
  .bmad-core/templates/competitor-analysis-tmpl.yaml
  .bmad-core/templates/front-end-architecture-tmpl.yaml
  .bmad-core/templates/front-end-spec-tmpl.yaml
  .bmad-core/templates/fullstack-architecture-tmpl.yaml
  .bmad-core/templates/market-research-tmpl.yaml
  .bmad-core/templates/prd-tmpl.yaml
  .bmad-core/templates/project-brief-tmpl.yaml
  .bmad-core/templates/story-tmpl.yaml
  .bmad-core/utils/plan-management.md
  .bmad-core/workflows/brownfield-fullstack.yaml
  .bmad-core/workflows/brownfield-service.yaml
  .bmad-core/workflows/brownfield-ui.yaml
  .bmad-core/workflows/greenfield-fullstack.yaml
  .bmad-core/workflows/greenfield-service.yaml
  .bmad-core/workflows/greenfield-ui.yaml
Due: none

fix(frontend): character counter real-time updates in PromptInputComponent
  docs/stories/epic2.story1.story.md
  frontend/src/lib/components/product/PromptInputComponent.svelte
Due: prettier

Update story with validation regression fix documentation
  docs/stories/epic2.story1.story.md
Due: none

feat(epic2-story1): complete mobile-optimized product upload interface
  backend/main.py
Due: pyright, tach

fix: prettier formatting in product creation page
  CI_FIX_SUMMARY.md
  backend/modules/user_management/tests/test_user_entity.py
  frontend/src/lib/__tests__/ux-enhancements.test.ts
  frontend/src/lib/api/client.test.ts
  frontend/src/lib/components/product/PhotoCollectionComponent.svelte
  frontend/src/lib/components/product/PromptInputComponent.svelte
  frontend/src/lib/stores/product-creation.ts
  frontend/src/routes/(protected)/products/new/+page.svelte
  frontend/tests/fixtures/README.md
  frontend/tests/fixtures/test-image-1.jpg
  frontend/tests/fixtures/test-image-2.jpg
  frontend/tests/fixtures/test-image-3.jpg
  frontend/tests/integration/ux-enhancements.test.ts
  frontend/tests/unit/ml/MLConnectionModal.test.ts
  frontend/vite.config.ts
Due: pyright, tach, prettier

feat(epic2-story1): complete backend product creation API with full stack integration
  backend/api/app_factory.py
  backend/api/dependencies.py
  backend/infrastructure/database.py
  backend/migrations/env.py
  backend/migrations/versions/004_create_products_tables.py
  backend/modules/product_management/api/routers/product_router.py
  backend/modules/product_management/api/schemas/product_schemas.py
  backend/modules/product_management/application/use_cases/create_product.py
  backend/modules/product_management/domain/entities/product_status.py
  backend/modules/product_management/infrastructure/models/product_model.py
  backend/modules/product_management/infrastructure/repositories/product_repository.py
  backend/modules/product_management/infrastructure/services/file_storage_service.py
  backend/modules/user_management/infrastructure/models/ml_credentials_model.py
  backend/modules/user_management/infrastructure/models/user_model.py
  docs/workflow-plan.md
  frontend/src/lib/api/product-api.ts
  frontend/src/routes/(protected)/products/new/+page.svelte
  frontend/tests/docker-auth.spec.ts
  frontend/tests/docker-basic.spec.ts
  frontend/tests/e2e/auth-flow.spec.ts
  frontend/tests/e2e/basic-security.spec.ts
  test_images/test-image-1.jpg
  test_images/test-image-2.jpg
  test_images/test-image-3.jpg
Due: pyright, tach, prettier

removed_test_images
  test_images/test-image-1.jpg
  test_images/test-image-2.jpg
  test_images/test-image-3.jpg
Due: none

refactor: use implicit Protocol implementation in ProductRepository
  backend/modules/product_management/infrastructure/repositories/product_repository.py
Due: pyright, tach

feat: add missing methods to ProductRepositoryProtocol
  backend/modules/product_management/domain/ports/product_repository_protocol.py
Due: pyright, tach

fix: resolve all CI failures - linting, typing, and architecture
  backend/api/app_factory.py
  backend/api/dependencies.py
  backend/modules/product_management/api/routers/product_router.py
  backend/modules/product_management/api/schemas/product_schemas.py
  backend/modules/product_management/application/use_cases/create_product.py
  backend/modules/product_management/infrastructure/models/product_model.py
  backend/modules/product_management/infrastructure/repositories/product_repository.py
  backend/modules/product_management/infrastructure/services/file_storage_service.py
  backend/tach.toml
  frontend/src/lib/api/product-api.ts
  frontend/src/routes/(protected)/products/new/+page.svelte
Due: pyright, tach, prettier

fix: resolve remaining CI test failures and linting issues
  backend/modules/product_management/domain/entities/test_product_status.py
  frontend/src/lib/api/product-api.ts
  frontend/src/routes/(protected)/products/new/+page.svelte
Due: pyright, tach, prettier

Story implementation
  .bmad-core/data/technical-preferences.md
  .claude/commands/story-implementation.md
  docs/stories/epic2.story1.story.md
  docs/stories/epic2.story2.story.md
Due: none

feat: complete Epic 2 Story 2 implementation with all pre-commit fixes
  backend/migrations/versions/005_add_prompt_text_to_products.py
  backend/modules/product_management/api/routers/product_router.py
  backend/modules/product_management/api/schemas/product_schemas.py
  backend/modules/product_management/application/use_cases/create_product.py
  backend/modules/product_management/domain/entities/confidence_score.py
  backend/modules/product_management/domain/entities/product.py
  backend/modules/product_management/domain/entities/product_status.py
  backend/modules/product_management/domain/entities/test_confidence_score.py
  backend/modules/product_management/domain/entities/test_product_status.py
  backend/modules/product_management/domain/product_business_rules.py
  backend/modules/product_management/domain/product_core.py
  backend/modules/product_management/domain/product_status_manager.py
  backend/modules/product_management/infrastructure/models/product_model.py
  backend/modules/product_management/infrastructure/repositories/product_repository.py
  backend/modules/product_management/infrastructure/services/file_cleanup_service.py
  backend/modules/product_management/infrastructure/services/file_storage_service.py
  backend/modules/product_management/tests/conftest.py
  backend/modules/product_management/tests/test_create_product_use_case.py
  backend/modules/product_management/tests/test_file_storage_service.py
  backend/modules/product_management/tests/test_product_api.py
  backend/modules/product_management/tests/test_product_entity.py
  backend/modules/product_management/tests/test_product_repository.py
Due: pyright, tach

fix: resolve all TID252 linting violations by converting relative to absolute imports
  backend/modules/product_management/api/routers/product_router.py
  backend/modules/product_management/application/use_cases/create_product.py
  backend/modules/product_management/domain/entities/confidence_score.py
  backend/modules/product_management/domain/entities/product.py
  backend/modules/product_management/domain/entities/test_confidence_score.py
  backend/modules/product_management/infrastructure/models/product_model.py
  backend/modules/product_management/infrastructure/repositories/product_repository.py
  backend/modules/product_management/infrastructure/services/file_cleanup_service.py
  backend/modules/product_management/tests/conftest.py
  backend/modules/product_management/tests/test_create_product_use_case.py
  backend/modules/product_management/tests/test_file_storage_service.py
  backend/modules/product_management/tests/test_product_api.py
  backend/modules/product_management/tests/test_product_entity.py
  backend/modules/product_management/tests/test_product_repository.py
Due: pyright, tach

fix: resolve 50+ type checking errors in product_management module
  .claude/commands/ci-fix.md
  .claude/commands/story-implementation.md
  backend/modules/product_management/domain/entities/product_status.py
  backend/modules/product_management/domain/test_product_business_rules.py
  backend/modules/product_management/domain/test_product_status_manager.py
  backend/modules/product_management/tests/conftest.py
  backend/modules/product_management/tests/test_product_api.py
  backend/modules/product_management/tests/test_product_repository.py
  docs/stories/epic2.story2.story.md
  docs/workflow-plan.md
Due: pyright, tach

fix: exclude test files from pyright type checking
  backend/modules/product_management/tests/conftest.py
  backend/pyproject.toml
Due: pyright, tach

fix: add missing minio dependency for tests
  backend/pyproject.toml
Due: none

fix: update ProductStatus tests to match current enum values
  backend/modules/product_management/domain/entities/test_product_status.py
  backend/uv.lock
Due: pyright, tach

fix: resolve test failures in product management module
  backend/modules/product_management/application/use_cases/create_product.py
  backend/modules/product_management/domain/product_business_rules.py
  backend/modules/product_management/domain/test_product_business_rules.py
  backend/modules/product_management/domain/test_product_status_manager.py
  backend/modules/product_management/infrastructure/services/file_storage_service.py
  backend/modules/product_management/tests/test_file_storage_service.py
  backend/modules/product_management/tests/test_product_entity.py
Due: pyright, tach

fix: resolve SQLAlchemy concurrent operation errors by removing duplicate session fixtures
  backend/modules/product_management/tests/conftest.py
Due: pyright, tach

fix: remove problematic autouse database setup fixture causing test failures
  backend/modules/product_management/tests/conftest.py
Due: pyright, tach

fix: remove unused Base import to resolve linting error
  backend/modules/product_management/tests/conftest.py
Due: pyright, tach

fix: use Alembic migrations instead of SQLAlchemy metadata for test database setup
  backend/modules/product_management/tests/conftest.py
  tests/conftest.py
Due: pyright, tach

fix: restore missing test fixtures from deleted module conftest
  tests/conftest.py
Due: none

fix: add backend conftest to bridge fixtures from main conftest
  backend/conftest.py
Due: pyright, tach

fix: resolve linting issues in backend conftest
  backend/conftest.py
Due: pyright, tach

fix: add trailing newline to backend conftest to resolve W292
  backend/conftest.py
Due: pyright, tach

fix: resolve final ruff linting issues in backend conftest
  backend/conftest.py
Due: pyright, tach

fix: ensure CI picks up pyright type error fixes
  backend/conftest.py
Due: pyright, tach

fix: update PostgreSQL testcontainer to use 'username' instead of deprecated 'user'
  tests/conftest.py
Due: none

Path conditions:
  pyright: any of: ^backend/ and \.py$
  tach: any of: ^backend/ and \.py$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|svelte|json|yaml|yml|md)$, but not: ^frontend/(node_modules|dist|build|coverage)/
