Repository gabadi/intellipost-ia: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tach, prettier

pyright:
  name: pyright-check
  entry: uv run pyright backend/
  language: system

tach:
  name: tach-check
  entry: bash -c 'cd backend && uvx tach check'
  language: system
  pass_filenames: false

prettier:
  name: prettier-format
  entry: sh -c 'cd frontend && npx prettier --write --ignore-unknown'
  language: system
  pass_filenames: false

fix: make backend type checking non-blocking temporarily
  .github/workflows/ci.yml
Due: none

fix: implement proper CI type checking with editable package installation
  .github/workflows/ci.yml
Due: none

debug: add import verification step before type checking
  .github/workflows/ci.yml
Due: none

fix: correct setuptools package discovery for proper import resolution
  .github/workflows/ci.yml
  backend/pyproject.toml
Due: none

fix: use explicit PYTHONPATH for CI type checking resolution
  .github/workflows/ci.yml
  backend/pyrightconfig.json
Due: none

debug: add directory structure debugging to CI
  .github/workflows/ci.yml
Due: none

fix: install backend package in editable mode for proper CI imports
  backend/pyproject.toml
Due: none

fix: resolve CI import issues with comprehensive package structure fixes
  .github/workflows/ci.yml
  backend/modules/user_management/infrastructure/middleware/__init__.py
  backend/pyproject.toml
Due: pyright, tach

fix: use proper uv sync workflow instead of incorrect uv pip install
  .github/workflows/ci.yml
Due: none

fix: explicitly define packages in setuptools configuration for proper module import resolution
  backend/pyproject.toml
Due: none

fix: add explicit editable install to CI workflow for proper module imports
  .github/workflows/ci.yml
Due: none

debug: add comprehensive debugging to CI workflow for import issues
  .github/workflows/ci.yml
Due: none

fix: add missing models directory that was ignored by .gitignore
  .gitignore
  backend/modules/user_management/infrastructure/models/__init__.py
  backend/modules/user_management/infrastructure/models/user_model.py
Due: pyright, tach

clean: remove debugging code from CI workflow after successful fix
  .github/workflows/ci.yml
Due: none

fix: improve setuptools package discovery exclusion patterns
  backend/pyproject.toml
Due: none

refactor: remove redundant import validation from CI
  .github/workflows/ci.yml
Due: none

bmad_update
  .bmad-core/agents/analyst.md
  .bmad-core/agents/dev.md
  .bmad-core/agents/qa.md
  .bmad-core/core-config.yml
  .bmad-core/data/bmad-kb.md
  .bmad-core/data/technical-preferences.md
  .bmad-core/install-manifest.yml
  .bmad-core/tasks/create-doc.md
  .bmad-core/tasks/document-project.md
  .bmad-core/tasks/execute-checklist.md
  .bmad-core/templates/story-tmpl.md
  .bmad-core/utils/workflow-management.md
  .bmad-core/workflows/brownfield-fullstack.yml
  .bmad-core/workflows/brownfield-service.yml
  .bmad-core/workflows/brownfield-ui.yml
  .bmad-core/workflows/greenfield-fullstack.yml
  .bmad-core/workflows/greenfield-service.yml
  .bmad-core/workflows/greenfield-ui.yml
  .claude/commands/analyst.md
  .claude/commands/dev.md
  .claude/commands/qa.md
Due: none

fix: add missing email-validator dependency for Docker deployment
  backend/pyproject.toml
Due: none

fix: restore dark mode styles for login form and cleanup temp files
  .bmad-core/tasks/review-story.md
  SINGLE_USER_AUTH.md
  backend/api/app_factory.py
  backend/api/routers/auth.py
  backend/api/routers/config.py
  backend/di/container.py
  backend/infrastructure/config/settings.py
  backend/infrastructure/middleware/security_middleware.py
  backend/infrastructure/seed.py
  backend/migrations/versions/002_seed_default_admin_user.py
  backend/migrations/versions/create_users_table.py
  backend/modules/user_management/api/routers/auth_router.py
  backend/modules/user_management/api/routers/user_router.py
  backend/modules/user_management/application/use_cases/refresh_token.py
  backend/modules/user_management/infrastructure/services/jose_jwt_service.py
  backend/modules/user_management/tests/test_authentication_service.py
  backend/modules/user_management/tests/test_integration.py
  docs/stories/epic6.story1.story.md
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/core/DesktopNavigation.svelte
  frontend/src/lib/stores/auth.test.ts
  frontend/src/lib/stores/auth.ts
  frontend/src/lib/types/auth.ts
  frontend/src/routes/(protected)/+layout.svelte
  frontend/src/routes/(protected)/dashboard/+page.svelte
  frontend/src/routes/(protected)/profile/+page.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/auth/login/+page.svelte
  frontend/src/routes/auth/register/+page.svelte
  frontend/src/styles/foundation/tokens.css
  frontend/tests/docker-auth.spec.ts
  frontend/tests/docker-basic.spec.ts
  frontend/tests/e2e/auth-flow.spec.ts
  frontend/tests/e2e/basic-security.spec.ts
Due: pyright, tach, prettier

feat: eliminate over-engineered DI container and simplify to FastAPI native patterns
  backend/api/app_factory.py
  backend/api/dependencies.py
  backend/di/__init__.py
  backend/di/container.py
  backend/main.py
  backend/modules/user_management/api/routers/user_router.py
  backend/tach.toml
  docs/stories/epic6.story1.story.md
Due: pyright, tach

feat: implement strict hexagonal architecture enforcement and cleanup
  backend/api/app_factory.py
  backend/api/dependencies.py
  backend/intellipost/__init__.py
  backend/modules/user_management/api/protocols/__init__.py
  backend/modules/user_management/api/protocols/auth_protocol.py
  backend/modules/user_management/api/routers/user_router.py
  backend/pyproject.toml
  backend/tach.toml
  docs/stories/epic6.story1.story.md
Due: pyright, tach

fix: resolve pyright type checking errors in authentication module
  backend/api/dependencies.py
  backend/api/routers/auth.py
  backend/infrastructure/tests/test_settings.py
  backend/migrations/versions/002_seed_default_admin_user.py
  backend/modules/user_management/api/protocols/__init__.py
  backend/modules/user_management/api/protocols/auth_protocol.py
  backend/modules/user_management/api/routers/auth_router.py
  backend/modules/user_management/api/routers/user_router.py
  backend/modules/user_management/infrastructure/middleware/auth_middleware.py
  backend/modules/user_management/infrastructure/models/user_model.py
  tests/conftest.py
Due: pyright, tach

fix: implement pragmatic CI fixes to unblock development pipeline
  backend/api/routers/config.py
  backend/infrastructure/middleware/security_middleware.py
  backend/infrastructure/tests/test_settings.py
  backend/modules/product_management/domain/entities/test_confidence_score.py
  backend/modules/user_management/api/routers/auth_router.py
  backend/modules/user_management/api/routers/user_router.py
  backend/modules/user_management/api/schemas/auth_schemas.py
  backend/modules/user_management/tests/conftest.py
  backend/modules/user_management/tests/test_authentication_service.py
  backend/modules/user_management/tests/test_integration.py
  frontend/eslint.config.js
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/core/DesktopNavigation.svelte
  frontend/src/lib/components/core/MobileNavigation.svelte
  frontend/src/lib/components/ui/Button.svelte
  frontend/src/lib/components/ui/Input.svelte
  frontend/src/lib/stores/auth.test.ts
  frontend/src/lib/stores/auth.ts
  frontend/src/routes/(protected)/profile/+page.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/auth/login/+page.svelte
  frontend/src/routes/auth/register/+page.svelte
  frontend/tests/docker-auth.spec.ts
  frontend/tests/docker-basic.spec.ts
  frontend/tests/e2e/auth-flow.spec.ts
Due: pyright, tach, prettier

fix: resolve final CI failures - TypeScript compilation and coverage generation
  frontend/src/lib/components/ui/Input.svelte
  frontend/src/routes/(protected)/profile/+page.svelte
Due: prettier

improve: change test skipping from unconditional to CI-only
  backend/infrastructure/tests/test_settings.py
  backend/modules/user_management/tests/test_integration.py
Due: pyright, tach

docs: add default admin credentials to README
  README.md
Due: none

revert: restore strict ESLint configuration to maintain code quality
  frontend/eslint.config.js
Due: prettier

fix: systematically resolve all ESLint errors with engineering approach
  frontend/src/lib/api/auth.ts
  frontend/src/lib/components/ui/Input.svelte
  frontend/src/lib/stores/auth.test.ts
  frontend/src/lib/stores/auth.ts
  frontend/src/routes/(protected)/profile/+page.svelte
  frontend/src/routes/auth/login/+page.svelte
  frontend/src/routes/auth/register/+page.svelte
  frontend/tests/docker-auth.spec.ts
  frontend/tests/e2e/auth-flow.spec.ts
Due: prettier

fix: resolve autocomplete type error blocking CI TypeScript compilation
  frontend/src/lib/components/ui/Input.svelte
Due: prettier

fix: resolve autocomplete attribute type conflict between TypeScript and ESLint
  frontend/eslint.config.js
Due: prettier

fix: resolve CI import error by adding missing models to repository
  .gitignore
  backend/modules/user_management/infrastructure/models/__init__.py
  backend/modules/user_management/infrastructure/models/ml_credentials_model.py
Due: pyright, tach

fix: skip low-severity bandit false positives in CI security checks
  .github/workflows/ci.yml
Due: none

chore: clean up documentation artifacts and improve repository hygiene
  .gitignore
  frontend/user-journey-01-dashboard.png
  frontend/user-journey-02-profile.png
  frontend/user-journey-03-products.png
  frontend/user-journey-04-new-product.png
  frontend/user-journey-05-ml-setup-direct.png
  frontend/ux-final-desktop-dashboard.png
  frontend/ux-final-ml-setup.png
  frontend/ux-final-mobile-dashboard.png
  frontend/ux-final-profile.png
  frontend/ux-review-comprehensive-findings.png
  frontend/ux-review-dashboard.png
  frontend/ux-review-desktop-navigation.png
  frontend/ux-review-ml-setup.png
  frontend/ux-review-mobile-navigation.png
  frontend/ux-review-profile.png
Due: none

Phase 1: Revert type checking mode to strict with manageable configuration
  backend/modules/user_management/api/schemas/ml_oauth_schemas.py
  backend/modules/user_management/infrastructure/middleware/csrf_protection.py
  backend/modules/user_management/infrastructure/services/ml_background_tasks.py
  backend/pyproject.toml
Due: pyright, tach

Phase 2: Remove is_production checks from app factory startup
  backend/api/app_factory.py
Due: pyright, tach

Phase 3: Remove SettingsAdapter and use Settings directly
  backend/modules/user_management/domain/ports/settings_protocol.py
  backend/modules/user_management/infrastructure/dependencies.py
  backend/modules/user_management/infrastructure/services/ml_background_tasks.py
Due: pyright, tach

fix: run database migrations before integration tests in CI
  .github/workflows/ci.yml
Due: none

Path conditions:
  pyright: any of: ^backend/ and \.py$
  tach: any of: ^backend/ and \.py$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|svelte|json|yaml|yml|md)$, but not: ^frontend/(node_modules|dist|build|coverage)/
