Repository gabadi/intellipost-ia: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tach, dependency-cruiser

pyright:
  name: pyright-check
  entry: uv run pyright backend/
  language: system

tach:
  name: tach-check
  entry: uvx tach check
  language: system
  pass_filenames: false

dependency-cruiser:
  name: dependency-cruiser-check
  entry: npm run dep-check --workspace=frontend
  language: system
  pass_filenames: false

fix: improve CI frontend linting reliability and error reporting
  .github/workflows/ci.yml
  frontend/package.json
Due: none

fix: resolve frontend CI workflow issues by correcting step order
  .github/workflows/ci.yml
  backend/pyproject.toml
Due: none

fix: add missing frontend source files by updating .gitignore
  .gitignore
  frontend/src/lib/test.test.ts
Due: dependency-cruiser

fix(backend): resolve CI test failures and configuration issues
  backend/infrastructure/config/settings.py
  tests/modules/product/test_confidence_score.py
  tests/modules/shared/infrastructure/config/test_logging.py
  tests/modules/shared/infrastructure/config/test_settings.py
  tests/modules/user/test_user.py
  tests/modules/user/test_user_ml_integration.py
Due: pyright, tach

fix(backend): move nosec comment to correct line for security check
  backend/infrastructure/config/settings.py
Due: pyright, tach

fix(ci): run module tests as unit tests and remove coverage for now
  .github/workflows/ci.yml
Due: none

feat: implement comprehensive frontend test suite and optimize scripts
  frontend/package.json
  frontend/src/lib/components/Layout.svelte
  frontend/src/lib/components/Layout.test.ts
  frontend/src/lib/components/Welcome.svelte
  frontend/src/lib/components/Welcome.test.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/layout.test.ts
  frontend/src/routes/page.test.ts
  frontend/vite.config.ts
  package-lock.json
Due: dependency-cruiser

chore: bmad method
  expansion-packs/story-implementation/story-implementation/manifest.yml
  expansion-packs/story-implementation/story-implementation/tasks/approve-story-for-development.md
  expansion-packs/story-implementation/story-implementation/tasks/capture-learning-triage.md
  expansion-packs/story-implementation/story-implementation/tasks/commit-and-prepare-pr.md
  expansion-packs/story-implementation/story-implementation/tasks/consolidate-review-feedback.md
  expansion-packs/story-implementation/story-implementation/tasks/create-comprehensive-pr.md
  expansion-packs/story-implementation/story-implementation/tasks/epic-party-mode-retrospective.md
  expansion-packs/story-implementation/story-implementation/tasks/implement-consolidated-fixes.md
  expansion-packs/story-implementation/story-implementation/tasks/implement-story-development.md
  expansion-packs/story-implementation/story-implementation/tasks/party-mode-learning-review.md
  expansion-packs/story-implementation/story-implementation/tasks/validate-consolidated-fixes.md
  expansion-packs/story-implementation/story-implementation/workflows/story-implementation.yml
  expansion-packs/story-implementation/story-implementation/workflows/story-simple.yml
Due: none

docs: update Story 3 status to Changes Committed with PR context
  docs/stories/epic1.story3.story.md
Due: none

feat: complete Epic 1 Party Mode Retrospective with comprehensive strategic analysis
  docs/epics/epic1-progress.md
  docs/retrospectives/epic1-retrospective-summary.md
Due: none

chore: bmad method
  docs/reports/competitors/gemini.md
  docs/stories/epic1.story3.story.md
  expansion-packs/story-implementation/workflows/story-simple.yml
  test-results/.last-run.json
Due: none

chore: fixes
  frontend/FINAL_UX_VALIDATION_SUMMARY.md
  frontend/PLAYWRIGHT_UX_TEST_SUMMARY.md
  frontend/UX_ENHANCEMENTS_VALIDATION.md
  frontend/UX_EXPERT_VALIDATION_REPORT.md
  frontend/eslint.config.js
  frontend/playwright-report/data/8b99104462946cab66deaeb8b4acf3a82f93085f.md
  frontend/playwright-report/index.html
  frontend/src/lib/__tests__/ux-enhancements.test.ts
  frontend/src/lib/api/client.test.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/ui/Input.svelte
  frontend/src/lib/components/ui/Modal.svelte
  frontend/src/lib/components/ui/OfflineBanner.svelte
  frontend/src/lib/stores/network.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/layout.test.ts
  frontend/src/routes/page.test.ts
  frontend/src/routes/products/+page.svelte
  frontend/src/routes/products/new/+page.svelte
  frontend/src/styles/foundation/tokens.css
  frontend/src/styles/utilities/enhanced-focus.css
  frontend/src/styles/utilities/loading-states.css
  frontend/src/styles/utilities/micro-interactions.css
  frontend/test-results/ux-validation-overall-ux-s-f1329-feedback-and-responsiveness-chromium/error-context.md
  frontend/test-results/ux-validation-overall-ux-s-f7176-improvement-recommendations-chromium/error-context.md
  frontend/tests/integration/ux-enhancements.test.ts
  frontend/tests/ux-validation/enhanced-focus.spec.ts
  frontend/tests/ux-validation/loading-states.spec.ts
  frontend/tests/ux-validation/micro-interactions.spec.ts
  frontend/tests/ux-validation/overall-ux-score.spec.ts
  tests/modules/shared/infrastructure/config/test_settings.py
  tests/modules/user/test_user_auth.py
Due: dependency-cruiser

fix: address all PR review feedback
  .pre-commit-config.yaml
  docs/dod-validation-report-epic1-story3.md
  docs/sm-round1-dod-validation-epic1-story3.md
  docs/ux-round1-dod-validation-epic1-story3.md
  frontend/src/routes/layout.test.ts
  frontend/src/routes/page.test.ts
Due: dependency-cruiser

fix: address all remaining PR review feedback
  .gitignore
  backend/Dockerfile
  frontend/playwright-report/data/065495370ebf1ceb13ed4d7d00cc7e3948ef061d.webm
  frontend/playwright-report/data/09daf66ee6f82c4fc63431c6968791ec6a9550c7.png
  frontend/playwright-report/data/8b99104462946cab66deaeb8b4acf3a82f93085f.md
  frontend/playwright-report/data/92ee75242d911706d26afaa3a8ea99fedad8a997.webm
  frontend/playwright-report/data/f27de3f275a157770cea9966d88cccfda19ac39d.png
  frontend/playwright-report/index.html
  frontend/test-results/.last-run.json
  frontend/test-results/ux-validation-overall-ux-s-f1329-feedback-and-responsiveness-chromium/error-context.md
  frontend/test-results/ux-validation-overall-ux-s-f1329-feedback-and-responsiveness-chromium/test-failed-1.png
  frontend/test-results/ux-validation-overall-ux-s-f1329-feedback-and-responsiveness-chromium/video.webm
  frontend/test-results/ux-validation-overall-ux-s-f7176-improvement-recommendations-chromium/error-context.md
  frontend/test-results/ux-validation-overall-ux-s-f7176-improvement-recommendations-chromium/test-failed-1.png
  frontend/test-results/ux-validation-overall-ux-s-f7176-improvement-recommendations-chromium/video.webm
  test-results/.last-run.json
  test-ux-interaction.js
  ux-interaction-evidence.png
Due: none

fix: restore Docker healthcheck as requested
  backend/Dockerfile
Due: none

fix: remove Docker healthcheck for performance
  backend/Dockerfile
Due: none

fix: restore dependency cruiser check as requested
  .pre-commit-config.yaml
Due: none

fix: resolve CI test failures and deprecation warnings
  backend/api/schemas/health.py
  backend/infrastructure/config/base_config.py
  backend/infrastructure/config/logging.py
  backend/infrastructure/config/settings.py
  backend/modules/ai_content/infrastructure/config.py
  backend/modules/mercadolibre/infrastructure/config.py
  backend/modules/product/infrastructure/config.py
  backend/modules/user/infrastructure/config.py
  tests/modules/user/test_user_auth.py
  tests/modules/user/test_user_ml_integration.py
  tests/modules/user/test_user_profile.py
Due: pyright, tach

[Epic6-Story1] Comprehensive JWT authentication system implementation
  frontend/src/lib/api/auth.ts
  frontend/src/lib/components/auth/AuthModal.svelte
  frontend/src/lib/components/auth/LoginForm.svelte
  frontend/src/lib/components/auth/PasswordInput.svelte
  frontend/src/lib/components/auth/RegisterForm.svelte
  frontend/src/lib/stores/auth.ts
  frontend/src/lib/types/auth.ts
  frontend/src/lib/types/index.ts
  frontend/src/lib/utils/auth-guards.ts
  frontend/src/lib/utils/auth-validation.ts
  frontend/src/lib/utils/error-handler.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/auth/login/+page.svelte
  frontend/src/routes/auth/register/+page.svelte
  frontend/tests/e2e/auth-flow.spec.ts
Due: dependency-cruiser

docs: update Epic 6 Story 1 status to Done - Delivered
  .story-implementation/pr-context-epic6-story1.md
  .story-implementation/ux-review-results.md
  docs/stories/epic6.story1.story.md
Due: none

refactor: separate performance tests from integration tests
  docs/architecture/coding-standards.md
  docs/architecture/source-tree.md
  tests/integration/api/test_auth_flow.py
  tests/performance/README.md
  tests/performance/test_auth_timing.py
Due: none

docs: fix testing structure to reflect modular organization
  .story-implementation/testing-taxonomy-learning.md
  docs/architecture/source-tree.md
  tests/performance/README.md
  tests/unit/__init__.py
Due: none

refactor: move unit tests to co-located structure and fix type errors
  backend/modules/auth/api/auth_router.py
  backend/modules/auth/api/schemas.py
  backend/modules/product/domain/confidence_score_test.py
  backend/modules/product/domain/product_business_rules_test.py
  backend/modules/product/domain/product_status_manager_test.py
  backend/modules/product/domain/product_status_test.py
  backend/modules/product/domain/product_test.py
  backend/modules/shared/__init__.py
  backend/modules/shared/domain/__init__.py
  backend/modules/shared/domain/health_test.py
  backend/modules/shared/domain/main_test.py
  backend/modules/shared/infrastructure/__init__.py
  backend/modules/shared/infrastructure/config/__init__.py
  backend/modules/shared/infrastructure/config/dependencies_test.py
  backend/modules/shared/infrastructure/config/logging_test.py
  backend/modules/shared/infrastructure/config/settings_test.py
  backend/modules/user/domain/user_auth_test.py
  backend/modules/user/domain/user_ml_integration_test.py
  backend/modules/user/domain/user_profile_test.py
  backend/modules/user/domain/user_status_test.py
  backend/modules/user/domain/user_test.py
  docs/architecture/source-tree.md
  tests/modules/product/__init__.py
  tests/modules/shared/__init__.py
  tests/modules/user/__init__.py
  tests/performance/README.md
Due: pyright, tach

feat: configure lax rules for tests - exclude from pyright and add ruff exceptions
  .pre-commit-config.yaml
  backend/pyproject.toml
Due: none

refactor: fix protocol architecture and implement PR review feedback
  backend/modules/auth/api/auth_router.py
  backend/modules/auth/api/auth_service_protocol.py
  backend/modules/auth/application/authentication_service.py
  backend/modules/auth/domain/authentication_service.py
  backend/modules/auth/domain/models.py
  backend/modules/auth/infrastructure/middleware.py
  backend/modules/shared/infrastructure/config/dependencies_test.py
  backend/modules/shared/infrastructure/config/logging_test.py
  backend/modules/user/domain/repositories.py
  backend/tach.toml
Due: pyright, tach

feat: implement 80/20 CSS optimization with 69% bundle reduction
  backend/modules/auth/application/authentication_service.py
  backend/modules/auth/infrastructure/jwt_service.py
  backend/modules/auth/infrastructure/middleware.py
  backend/modules/user/infrastructure/user_repository.py
  frontend/.dependency-cruiser.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/app.html
  frontend/src/lib/components/auth/AuthModal.svelte
  frontend/src/lib/components/auth/LoginForm.svelte
  frontend/src/lib/components/auth/PasswordInput.svelte
  frontend/src/lib/components/auth/RegisterForm.svelte
  frontend/src/lib/components/core/DesktopNavigation.svelte
  frontend/src/lib/components/core/MobileNavigation.svelte
  frontend/src/lib/components/ui/OfflineBanner.svelte
  frontend/src/lib/utils/auth-guards.ts
  frontend/src/lib/utils/error-handler.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/auth/login/+page.svelte
  frontend/src/routes/auth/register/+page.svelte
  frontend/src/routes/products/+page.svelte
  frontend/src/styles/critical.css
  frontend/src/styles/foundation/tokens.css
  frontend/tests/e2e/auth-flow.spec.ts
  frontend/vite-plugins/critical-css.js
  frontend/vite-plugins/purgecss.js
  frontend/vite.config.ts
  package-lock.json
Due: pyright, tach, dependency-cruiser

feat: implement 80/20 CSS optimization with 69% bundle reduction
  .github/workflows/auth-ci.yml
  .story-implementation/testing-taxonomy-learning.md
  backend/migrations/env.py
  backend/modules/auth/api/auth_router.py
  backend/modules/auth/api/error_handlers.py
  backend/modules/auth/api/schemas.py
  backend/modules/auth/infrastructure/secure_storage.py
  backend/modules/user/domain/user_test.py
  backend/modules/user/infrastructure/user_repository.py
  backend/pyproject.toml
  backend/tach.toml
  docs/api/authentication-endpoints.md
  docs/implementation/fixes-summary.md
  docs/setup/authentication-setup.md
  docs/stories/decisions-needed.md
  docs/stories/issues-found.md
  expansion-packs/story-implementation/checklists/architect-checklist.md
  frontend/.svelte-check.config.js
  frontend/eslint.config.js
  frontend/src/lib/components/auth/LoginForm.svelte
  frontend/src/lib/components/auth/RegisterForm.svelte
  frontend/src/lib/stores/auth.ts
  frontend/src/lib/utils/auth-validation.ts
  frontend/src/lib/utils/error-handler.ts
  frontend/src/routes/auth/login/+page.svelte
  frontend/src/routes/auth/register/+page.svelte
  frontend/tsconfig.json
  learning-final.md
  learning-items.md
  package-lock.json
  package.json
  tests/conftest.py
  tests/integration/api/test_auth_flow.py
Due: pyright, tach, dependency-cruiser

fix: make status field optional in UserResponse schema
  backend/modules/auth/api/auth_router.py
  backend/modules/auth/api/auth_service_protocol.py
  backend/modules/auth/api/schemas.py
  backend/modules/auth/application/authentication_service.py
  backend/modules/auth/domain/models.py
  backend/modules/auth/domain/protocols.py
  backend/modules/auth/domain/user_domain_service.py
  backend/modules/auth/domain/user_status.py
  backend/modules/auth/domain/value_objects.py
  backend/modules/auth/infrastructure/di_containers.py
  backend/modules/auth/infrastructure/jwt_service.py
  backend/modules/auth/infrastructure/middleware.py
  backend/modules/user/application/user_service.py
  backend/modules/user/domain/protocols.py
  backend/tach.toml
Due: pyright, tach

refactor: implement protocol-based hexagonal architecture
  README.md
  backend/di/__init__.py
  backend/di/auth_container.py
  backend/di/user_container.py
  backend/modules/auth/api/auth_router.py
  backend/tach.toml
  docs/architecture/api-specification.md
  docs/architecture/coding-standards.md
  docs/architecture/database-schema.md
  docs/architecture/deployment-strategy.md
  docs/architecture/external-integrations.md
  docs/architecture/frontend-architecture.md
  docs/architecture/ml-support-tables.md
  docs/architecture/source-tree.md
  docs/architecture/system-overview.md
  docs/architecture/tech-stack.md
Due: pyright, tach

fix: convert Vite plugins to TypeScript and resolve all CI errors
  frontend/vite-plugins/critical-css.ts
  frontend/vite-plugins/purgecss.ts
  frontend/vite.config.ts
Due: dependency-cruiser

fix: disable SVGO in PostCSS to resolve build errors with URL-encoded SVG data URLs
  frontend/postcss.config.js
Due: dependency-cruiser

fix: resolve all CI errors and align local/remote CI pipelines
  .github/workflows/ci.yml
  backend/.bandit
  frontend/vite.config.ts
  package.json
Due: dependency-cruiser

fix: correct GitHub Actions test paths and npm dependency installation
  .github/workflows/ci.yml
Due: none

Revert "fix: correct GitHub Actions test paths and npm dependency installation"
  .github/workflows/ci.yml
Due: none

chore: tmp
  .github/workflows/ci.yml
Due: none

fix: implement bulletproof CI with mandatory pytest markers
  .github/workflows/ci.yml
  backend/conftest.py
  backend/modules/product/domain/confidence_score_test.py
  backend/modules/product/domain/product_business_rules_test.py
  backend/modules/product/domain/product_status_manager_test.py
  backend/modules/product/domain/product_status_test.py
  backend/modules/product/domain/product_test.py
  backend/modules/shared/domain/health_test.py
  backend/modules/shared/domain/main_test.py
  backend/modules/shared/infrastructure/config/dependencies_test.py
  backend/modules/shared/infrastructure/config/logging_test.py
  backend/modules/shared/infrastructure/config/settings_test.py
  backend/modules/user/domain/user_auth_test.py
  backend/modules/user/domain/user_ml_integration_test.py
  backend/modules/user/domain/user_profile_test.py
  backend/modules/user/domain/user_status_test.py
  backend/modules/user/domain/user_test.py
  backend/pyproject.toml
  backend/uv.lock
  conftest.py
  pytest.ini
  tests/conftest.py
  tests/integration/api/test_auth_flow.py
  tests/integration/api/test_health.py
Due: pyright, tach

Path conditions:
  pyright: any of: ^backend/ and \.py$
  tach: any of: ^backend/ and \.py$
  dependency-cruiser: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
