Repository gabadi/intellipost-ia: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tach, prettier

.pre-commit-config.yaml:

repos:
  # Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.0
    hooks:
      - id: ruff
        name: ruff-lint
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
        name: ruff-format
        files: ^backend/

  # Pyright type checking with uvx
  - repo: local
    hooks:
      - id: pyright
        name: pyright-check
        entry: uv run pyright backend/
        language: system
        files: ^backend/
        types: [python]

  # Tach architectural boundaries with uvx
  - repo: local
    hooks:
      - id: tach
        name: tach-check
        entry: bash -c 'cd backend && uvx tach check'
        language: system
        files: ^backend/
        types: [python]
        pass_filenames: false

  # Frontend hooks - using alternative prettier pre-commit hook since mirrors-prettier is archived
  - repo: local
    hooks:
      - id: prettier
        name: prettier-format
        entry: sh -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|svelte|json|yaml|yml|md)$
        exclude: ^frontend/(node_modules|dist|build|coverage)/
        pass_filenames: false

  # ESLint via npm workspace - temporarily disabled during config conflict resolution
  # - repo: local
  #   hooks:
  #     - id: eslint
  #       name: eslint-check
  #       entry: npm run lint:frontend
  #       language: system
  #       files: ^frontend/.*\.(js|jsx|ts|tsx|svelte)$
  #       pass_filenames: false

  # Dependency cruiser for frontend - temporarily disabled due to SvelteKit imports issue
  # - repo: local
  #   hooks:
  #     - id: dependency-cruiser
  #       name: dependency-cruiser-check
  #       entry: npm run dep-check --workspace=frontend
  #       language: system
  #       files: ^frontend/
  #       types_or: [javascript, jsx, ts, tsx]
  #       pass_filenames: false

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]

  # Commit message hooks
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

feat: implement auto-creation of default admin user and password change endpoint
  backend/di/auth_container.py
  backend/infrastructure/config/settings.py
  backend/main.py
  backend/modules/auth/api/auth_router.py
  backend/modules/auth/api/schemas.py
  backend/modules/auth/application/authentication_service.py
  backend/modules/auth/domain/protocols.py
Due: pyright, tach

feat(auth): remove hardcoded password from UI, document in README
  AUTHENTICATION_CHANGES.md
  README.md
  auth-final-report.md
  frontend/package.json
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/client.test.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/auth/LoginForm.svelte
  frontend/src/lib/components/auth/PasswordChangeForm.svelte
  frontend/src/lib/components/auth/PasswordInput.svelte
  frontend/src/lib/components/auth/RegisterForm.svelte
  frontend/src/lib/components/core/DesktopNavigation.svelte
  frontend/src/lib/components/core/MobileNavigation.svelte
  frontend/src/lib/components/ui/OfflineBanner.svelte
  frontend/src/lib/components/ui/SkeletonLoader.svelte
  frontend/src/lib/stores/auth.ts
  frontend/src/lib/stores/network.ts
  frontend/src/lib/types/auth.ts
  frontend/src/lib/utils/auth-validation.ts
  frontend/src/lib/utils/form-autosave.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/auth/login/+page.svelte
  frontend/src/routes/auth/logout/+page.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/terms/+page.svelte
  frontend/src/styles/foundation/tokens.css
  frontend/src/styles/utilities/micro-interactions.css
  package-lock.json
Due: prettier

fix: resolve 'Failed to fetch' frontend error by correcting environment variable name
  docker-compose.yml
Due: none

fix: remove development message and fix dark mode UI issues
  frontend/src/lib/components/auth/LoginForm.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/products/+page.svelte
Due: prettier

chore: fixes
  .gitignore
  backend/conftest.py
  backend/infrastructure/config/settings.py
  backend/pyproject.toml
  conftest.py
  docker-compose.yml
  frontend/src/app.html
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/client.test.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/auth/LoginForm.svelte
  frontend/src/lib/components/auth/PasswordChangeForm.svelte
  frontend/src/lib/components/auth/PasswordInput.svelte
  frontend/src/lib/components/core/DesktopNavigation.svelte
  frontend/src/lib/components/core/MobileNavigation.svelte
  frontend/src/lib/components/ui/ThemeToggle.svelte
  frontend/src/lib/stores/auth.ts
  frontend/src/lib/stores/network.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/auth/login/+page.svelte
  frontend/src/routes/auth/logout/+page.svelte
  frontend/src/routes/privacy/+page.svelte
  frontend/src/routes/products/+page.svelte
  frontend/src/routes/products/new/+page.svelte
  frontend/src/routes/settings/+page.svelte
  frontend/src/routes/terms/+page.svelte
  frontend/src/styles/foundation/tokens.css
  frontend/vite-plugins/critical-css.ts
  frontend/vite-plugins/purgecss.ts
  frontend/vite.config.ts
  package-lock.json
  package.json
Due: pyright, tach, prettier

feat: complete comprehensive static duck typing POC with Protocols
  research/static_duck_typing_poc/EXECUTIVE_SUMMARY.md
  research/static_duck_typing_poc/README.md
  research/static_duck_typing_poc/RESEARCH_REPORT.md
  research/static_duck_typing_poc/advanced_test.py
  research/static_duck_typing_poc/boundary_test.py
  research/static_duck_typing_poc/integration_test.py
  research/static_duck_typing_poc/product_management/__init__.py
  research/static_duck_typing_poc/product_management/product.py
  research/static_duck_typing_poc/product_management/protocols.py
  research/static_duck_typing_poc/pyproject.toml
  research/static_duck_typing_poc/user_management/__init__.py
  research/static_duck_typing_poc/user_management/user.py
  research/static_duck_typing_poc/uv.lock
Due: none

feat(epic6): add comprehensive architecture documentation and story planning
  backend/tach.toml
  docs/architecture/coding-standards.md
  docs/architecture/source-tree.md
  docs/architecture/system-overview.md
  docs/stories/epic6.story0.story.md
  docs/stories/epic6.story1.story.md
  research/static_duck_typing_poc/EXECUTIVE_SUMMARY.md
  research/static_duck_typing_poc/README.md
  research/static_duck_typing_poc/RESEARCH_REPORT.md
  research/static_duck_typing_poc/advanced_test.py
  research/static_duck_typing_poc/boundary_test.py
  research/static_duck_typing_poc/integration_test.py
  research/static_duck_typing_poc/product_management/__init__.py
  research/static_duck_typing_poc/product_management/product.py
  research/static_duck_typing_poc/product_management/protocols.py
  research/static_duck_typing_poc/pyproject.toml
  research/static_duck_typing_poc/user_management/__init__.py
  research/static_duck_typing_poc/user_management/user.py
  research/static_duck_typing_poc/uv.lock
Due: none

[Epic6.Story0] Final status update to Changes Committed
  .story-implementation/learning-items.md
  docs/stories/epic6.story0.story.md
Due: none

docs: update story status and learning items for Epic 6 Story 0 completion
  .story-implementation/learning-items.md
  docs/stories/epic6.story0.story.md
Due: none

feat: update Epic 6 Story 0 status to Done - Delivered with PR link
  docs/stories/epic6.story0.story.md
Due: none

cleanup: remove temporary learning items file after merge
  .story-implementation/learning-items.md
Due: none

fix: resolve all CI pipeline failures and update documentation
  backend/modules/user_management/domain/entities/user.py
  backend/tach.toml
Due: pyright, tach

fix: complete CI pipeline fixes and documentation updates
  docs/architecture/source-tree.md
  package.json
  tests/modules/shared/infrastructure/config/test_settings.py
  tests/modules/user/test_user_auth.py
Due: none

fix: resolve CI pipeline failures with comprehensive infrastructure improvements
  .github/workflows/ci.yml
  backend/infrastructure/config/settings.py
  tests/modules/conftest.py
  tests/modules/shared/infrastructure/config/test_settings.py
  tests/modules/user/test_user_auth.py
  tests/modules/user/test_user_profile.py
Due: pyright, tach

fix: apply pre-commit formatting fixes
  backend/RESTORED_TEST_COVERAGE.md
  backend/modules/user_management/tests/test_user_entity.py
  docker-compose.yml
  tests/infrastructure/__init__.py
  tests/infrastructure/test_settings.py
  tests/modules/product/test_confidence_score.py
  tests/modules/product/test_product.py
  tests/modules/product/test_product_business_rules.py
  tests/modules/product/test_product_status.py
  tests/modules/product/test_product_status_manager.py
  tests/modules/shared/infrastructure/config/test_dependencies.py
  tests/modules/shared/infrastructure/config/test_logging.py
  tests/modules/shared/infrastructure/config/test_settings.py
  tests/modules/shared/test_health.py
  tests/modules/user/test_user.py
  tests/modules/user/test_user_auth.py
  tests/modules/user/test_user_ml_integration.py
  tests/modules/user/test_user_profile.py
  tests/modules/user/test_user_status.py
Due: pyright, tach

refactor: remove unused application module and redundant validation script
  backend/application/__init__.py
  backend/application/container/__init__.py
  backend/application/container/dependency_injection.py
  backend/application/protocols/__init__.py
  backend/application/protocols/module_coordination_protocols.py
  backend/application/services/__init__.py
  backend/application/services/user_orchestration_service.py
  backend/tach.toml
  scripts/validate-quality.sh
Due: pyright, tach

fix: resolve type checking errors in product status manager tests
  backend/RESTORED_TEST_COVERAGE.md
  backend/api/app_factory.py
  backend/architectural_compliance_report.md
  backend/di/container.py
  backend/main.py
  backend/modules/product_management/__init__.py
  backend/modules/product_management/domain/__init__.py
  backend/modules/product_management/domain/entities/__init__.py
  backend/modules/product_management/domain/entities/confidence_score.py
  backend/modules/product_management/domain/entities/product.py
  backend/modules/product_management/domain/entities/product_status.py
  backend/modules/product_management/domain/entities/test_confidence_score.py
  backend/modules/product_management/domain/entities/test_product_status.py
  backend/modules/product_management/domain/product_business_rules.py
  backend/modules/product_management/domain/product_core.py
  backend/modules/product_management/domain/product_domain_service.py
  backend/modules/product_management/domain/product_status_manager.py
  backend/modules/product_management/domain/test_product_business_rules.py
  backend/modules/product_management/domain/test_product_status_manager.py
  backend/modules/user_management/domain/exceptions.py
  backend/modules/user_management/domain/services/authentication.py
  backend/modules/user_management/domain/services/user_service.py
  backend/pyproject.toml
  backend/tach.toml
  docs/architecture/coding-standards.md
  tests/modules/ai_content/__init__.py
  tests/modules/auth/__init__.py
  tests/modules/mercadolibre/__init__.py
  tests/modules/product/__init__.py
  tests/modules/product/test_product.py
  tests/modules/user/__init__.py
  tests/modules/user/test_user.py
  tests/modules/user/test_user_status.py
Due: pyright, tach

fix: resolve CI pipeline failures
  backend/api/app_factory.py
  backend/api/routers/health.py
  frontend/src/lib/api/client.test.ts
Due: pyright, tach, prettier

fix: resolve CI/CD pipeline failures and implement comprehensive infrastructure improvements
  .env.testing
  .github/workflows/ci.yml
  README.md
  backend/infrastructure/config/settings.py
  backend/modules/user_management/tests/test_user_entity.py
  docker-compose.yml
  docs/architecture/adr-001-environment-configuration-architecture.md
  docs/architecture/architectural-solution-summary.md
  docs/architecture/cicd-pipeline-architecture.md
  docs/architecture/migration-plan-cicd-fixes.md
  docs/architecture/technical-implementation-summary.md
  frontend/src/app.html
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/core/DesktopNavigation.svelte
  frontend/src/lib/components/core/MobileNavigation.svelte
  frontend/src/lib/components/ui/ThemeToggle.svelte
  frontend/src/lib/stores/network.ts
  frontend/src/lib/stores/theme.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/products/+page.svelte
  frontend/src/routes/products/new/+page.svelte
  frontend/src/styles/components/index.css
  frontend/src/styles/components/layout.css
  frontend/src/styles/foundation/tokens.css
  frontend/static/favicon.ico
  frontend/static/favicon.png
  frontend/static/favicon.svg
  frontend/static/manifest.json
  package.json
  scripts/validate-configuration.sh
  tests/infrastructure/test_settings.py
Due: pyright, tach, prettier

refactor: clean up over-architecture documentation and consolidate test structure
  README.md
  backend/infrastructure/tests/__init__.py
  backend/infrastructure/tests/test_settings.py
  backend/pyproject.toml
  docs/architecture/adr-001-environment-configuration-architecture.md
  docs/architecture/architectural-solution-summary.md
  docs/architecture/cicd-pipeline-architecture.md
  docs/architecture/migration-plan-cicd-fixes.md
  docs/architecture/system-overview.md
  docs/architecture/technical-implementation-summary.md
  scripts/validate-configuration.sh
  tests/conftest.py
  tests/infrastructure/__init__.py
  tests/integration/api/test_main_integration.py
  tests/modules/__init__.py
  tests/modules/conftest.py
  tests/modules/shared/__init__.py
  tests/modules/shared/test_health.py
Due: pyright, tach

fix: correct backend unit test paths in CI workflow
  .github/workflows/ci.yml
Due: none

fix: handle environment differences in API key test
  backend/infrastructure/tests/test_settings.py
Due: pyright, tach

docs: mark Epic 6 Story 1 as completed with comprehensive summary
  docs/stories/epic6.story1.story.md
Due: none

fix: resolve type checking issues in auth system
  backend/infrastructure/middleware/security_middleware.py
  backend/modules/user_management/api/routers/auth_router.py
  backend/modules/user_management/api/schemas/auth_schemas.py
  backend/modules/user_management/infrastructure/middleware/rate_limiter.py
  backend/modules/user_management/infrastructure/middleware/simple_rate_limiter.py
  backend/modules/user_management/infrastructure/repositories/refresh_token_repository.py
  backend/modules/user_management/infrastructure/repositories/user_repository.py
Due: pyright, tach

fix: resolve remaining type checking issues
  backend/modules/user_management/infrastructure/middleware/simple_rate_limiter.py
  frontend/src/lib/components/ui/Input.svelte
Due: pyright, tach, prettier

fix: improve Input component autocomplete type safety
  frontend/src/lib/components/ui/Input.svelte
Due: prettier

cleanup: remove temporary story implementation files and build artifacts
  .gitignore
  .story-implementation/consolidated-feedback.md
  .story-implementation/decisions-needed.md
  .story-implementation/issues-found.md
  backend/modules/user_management/api/schemas/auth_schemas.py
  backend/modules/user_management/infrastructure/middleware/auth_middleware.py
  backend/modules/user_management/infrastructure/repositories/refresh_token_repository.py
  backend/modules/user_management/infrastructure/repositories/user_repository.py
  backend/modules/user_management/infrastructure/services/password_service.py
  backend/tach.toml
  docs/epics/epic6-progress-tracking.md
  docs/stories/epic6.story1/implementation-summary.md
  docs/stories/epic6.story1/qa_review_results.md
  frontend/accessibility-improvements.md
  frontend/enhanced-error-handling-summary.md
  frontend/src/lib/components/ui/Input.svelte
  frontend/src/lib/stores/auth.ts
  test_auth_backend.py
Due: pyright, tach, prettier

cleanup: remove temporary story implementation files and build artifacts
  backend/api/app_factory.py
  backend/api/container.py
  backend/api/protocols/__init__.py
  backend/api/protocols/authentication_provider.py
  backend/api/protocols/content_provider.py
  backend/api/protocols/product_provider.py
  backend/api/routers/auth_router.py
  backend/api/routers/root.py
  backend/api/schemas/auth_schemas.py
  backend/di/container.py
  backend/di/module_discovery.py
  backend/docs/architecture/protocol-architecture.md
  backend/infrastructure/config/production_https.md
  backend/modules/user_management/domain/services/authentication_factory.py
  backend/modules/user_management/domain/services/enhanced_authentication.py
  backend/tach_module_graph.dot
  frontend/src/lib/stores/auth.ts
  frontend/src/lib/utils/error-handler.ts
  frontend/src/routes/auth/login/+page.svelte
  frontend/src/routes/auth/register/+page.svelte
  tests/conftest.py
  tests/integration/api/test_health.py
Due: pyright, tach, prettier

cleanup: remove temporary story implementation files and build artifacts
  backend/modules/user_management/domain/services/enhanced_authentication.py
Due: pyright, tach

fix: add pyrightconfig.json to resolve CI type checking errors
  backend/pyrightconfig.json
Due: none

fix: update pyrightconfig.json with pythonPath for CI compatibility
  backend/pyrightconfig.json
Due: none

fix: use relative imports for models in repository modules
  backend/modules/user_management/infrastructure/repositories/refresh_token_repository.py
  backend/modules/user_management/infrastructure/repositories/user_repository.py
  backend/pyproject.toml
Due: pyright, tach

fix: add PYTHONPATH to CI and revert to absolute imports
  .github/workflows/ci.yml
  backend/modules/user_management/infrastructure/repositories/refresh_token_repository.py
  backend/modules/user_management/infrastructure/repositories/user_repository.py
  backend/pyproject.toml
Due: pyright, tach

feat: create Story 6.1.1 for critical login authentication bug fix
  backend/infrastructure/config/logging.py
  backend/modules/user_management/domain/services/authentication_factory.py
  docs/stories/epic6.story1.1.story.md
Due: pyright, tach

fix: improve CI type checking with enhanced PYTHONPATH configuration
  .github/workflows/ci.yml
Due: none
