Repository gabadi/intellipost-ia: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tach, prettier

.pre-commit-config.yaml:

repos:
  # Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.0
    hooks:
      - id: ruff
        name: ruff-lint
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
        name: ruff-format
        files: ^backend/

  # Pyright type checking with uvx
  - repo: local
    hooks:
      - id: pyright
        name: pyright-check
        entry: uv run pyright backend/
        language: system
        files: ^backend/
        types: [python]

  # Tach architectural boundaries with uvx
  - repo: local
    hooks:
      - id: tach
        name: tach-check
        entry: bash -c 'cd backend && uvx tach check'
        language: system
        files: ^backend/
        types: [python]
        pass_filenames: false

  # Frontend hooks - using alternative prettier pre-commit hook since mirrors-prettier is archived
  - repo: local
    hooks:
      - id: prettier
        name: prettier-format
        entry: sh -c 'cd frontend && npx prettier --write --ignore-unknown'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|svelte|json|yaml|yml|md)$
        exclude: ^frontend/(node_modules|dist|build|coverage)/
        pass_filenames: false

  # ESLint via npm workspace - temporarily disabled during config conflict resolution
  # - repo: local
  #   hooks:
  #     - id: eslint
  #       name: eslint-check
  #       entry: npm run lint:frontend
  #       language: system
  #       files: ^frontend/.*\.(js|jsx|ts|tsx|svelte)$
  #       pass_filenames: false

  # Dependency cruiser for frontend - temporarily disabled due to SvelteKit imports issue
  # - repo: local
  #   hooks:
  #     - id: dependency-cruiser
  #       name: dependency-cruiser-check
  #       entry: npm run dep-check --workspace=frontend
  #       language: system
  #       files: ^frontend/
  #       types_or: [javascript, jsx, ts, tsx]
  #       pass_filenames: false

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]

  # Commit message hooks
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

feat: implement complete unit/integration test separation
  .github/workflows/ci.yml
  backend/infrastructure/tests/test_settings.py
  backend/modules/product_management/domain/entities/test_confidence_score.py
  backend/modules/product_management/domain/entities/test_product_status.py
  backend/modules/product_management/domain/test_product_business_rules.py
  backend/modules/product_management/domain/test_product_status_manager.py
  backend/modules/product_management/tests/test_create_product_use_case.py
  backend/modules/product_management/tests/test_file_storage_service.py
  backend/modules/product_management/tests/test_product_api.py
  backend/modules/product_management/tests/test_product_entity.py
  backend/modules/product_management/tests/test_product_repository.py
  backend/modules/user_management/tests/test_authentication_service.py
  backend/modules/user_management/tests/test_integration.py
  backend/modules/user_management/tests/test_ml_oauth_integration.py
  backend/modules/user_management/tests/test_ml_oauth_service.py
  backend/modules/user_management/tests/test_user_entity.py
  backend/pyproject.toml
  backend/scripts.sh
Due: pyright, tach

fix: resolve CI failures by implementing comprehensive test mark enforcement
  .pre-commit-config.yaml
  README.md
  backend/conftest.py
  backend/infrastructure/tests/test_marks_enforcement.py
  backend/infrastructure/tests/test_settings.py
  backend/modules/product_management/domain/entities/test_confidence_score.py
  backend/modules/product_management/domain/entities/test_product_status.py
  backend/modules/product_management/domain/test_product_business_rules.py
  backend/modules/product_management/domain/test_product_status_manager.py
  backend/modules/product_management/tests/test_create_product_use_case.py
  backend/modules/product_management/tests/test_file_storage_service.py
  backend/modules/product_management/tests/test_product_api.py
  backend/modules/product_management/tests/test_product_entity.py
  backend/modules/product_management/tests/test_product_repository.py
  backend/modules/user_management/tests/test_authentication_service.py
  backend/modules/user_management/tests/test_integration.py
  backend/modules/user_management/tests/test_ml_oauth_integration.py
  backend/modules/user_management/tests/test_ml_oauth_service.py
  backend/modules/user_management/tests/test_user_entity.py
  backend/pyproject.toml
  backend/scripts.sh
  tests/conftest.py
Due: pyright, tach

docs: optimize backend architecture documentation
  docs/architecture/backend-architecture.md
Due: none

docs: update workflow plan with Epic 2 Story 3 final completion status
  docs/workflow-plan.md
Due: none

fix: auto-formatting and type casting fixes from pre-commit hooks
  backend/modules/content_generation/infrastructure/services/attribute_mapping_service.py
  backend/modules/product_management/infrastructure/services/file_cleanup_service.py
Due: pyright, tach

fix: improve critical test failures and code quality issues
  backend/api/routers/config.py
  backend/api/routers/health.py
  backend/conftest.py
  backend/infrastructure/config/base_config.py
  backend/modules/content_generation/api/routers/content_generation_router.py
  backend/modules/content_generation/api/schemas/content_generation_schemas.py
  backend/modules/content_generation/api/schemas/websocket_schemas.py
  backend/modules/content_generation/application/use_cases/generate_content.py
  backend/modules/content_generation/domain/entities/ai_generation.py
  backend/modules/content_generation/domain/entities/confidence_score.py
  backend/modules/content_generation/domain/entities/generated_content.py
  backend/modules/content_generation/domain/exceptions.py
  backend/modules/content_generation/infrastructure/config.py
  backend/modules/content_generation/infrastructure/services/gemini_ai_service.py
  backend/modules/content_generation/tests/api/test_content_generation_api.py
  backend/modules/content_generation/tests/test_performance.py
  backend/modules/content_generation/tests/unit/test_domain_entities.py
  backend/modules/content_generation/tests/unit/test_services.py
  backend/modules/marketplace_integration/infrastructure/config.py
  backend/modules/product_management/infrastructure/config.py
  backend/modules/user_management/infrastructure/services/ml_background_tasks.py
  backend/modules/user_management/infrastructure/services/ml_oauth_service.py
  backend/modules/user_management/infrastructure/services/token_refresh_scheduler.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/src/lib/components/core/DesktopNavigation.svelte
  frontend/src/lib/components/core/MobileNavigation.svelte
  frontend/src/lib/components/ml/MLConnectionStatus.svelte
  frontend/src/lib/components/ui/OfflineBanner.svelte
  frontend/src/lib/components/ui/ThemeToggle.svelte
  frontend/src/routes/(protected)/+layout.svelte
  frontend/src/routes/(protected)/dashboard/+page.svelte
  frontend/src/routes/(protected)/integrations/+page.svelte
  frontend/src/routes/(protected)/ml-setup/+page.svelte
  frontend/src/routes/(protected)/ml-setup/callback/+page.svelte
  frontend/src/routes/(protected)/profile/+page.svelte
Due: pyright, tach, prettier

feat: implement comprehensive architectural fixes and quality improvements
  backend/api/dependencies.py
  backend/infrastructure/database.py
  backend/modules/content_generation/application/use_cases/generate_content.py
  backend/modules/content_generation/domain/exceptions.py
  backend/modules/content_generation/infrastructure/models/generated_content_model.py
  backend/modules/content_generation/infrastructure/repositories/sqlalchemy_content_repository.py
  backend/modules/content_generation/infrastructure/services/attribute_mapping_service.py
  backend/modules/content_generation/infrastructure/services/content_validation_service.py
  backend/modules/content_generation/infrastructure/services/description_generation_service.py
  backend/modules/content_generation/infrastructure/services/gemini_ai_service.py
  backend/modules/content_generation/infrastructure/services/ml_category_service.py
  backend/modules/content_generation/infrastructure/services/title_generation_service.py
  backend/modules/content_generation/tests/api/test_content_generation_api.py
  backend/modules/content_generation/tests/integration/test_ai_ml_integration.py
  backend/modules/content_generation/tests/test_performance.py
  backend/modules/content_generation/tests/unit/test_domain_entities.py
  backend/modules/content_generation/tests/unit/test_services.py
  backend/modules/product_management/infrastructure/services/file_cleanup_service.py
  backend/modules/product_management/infrastructure/services/file_storage_service.py
  backend/tach.toml
Due: pyright, tach

chore: clean pyproject.toml dependency configuration
  backend/pyproject.toml
  backend/uv.lock
Due: none

chore: remove audit.json file from repository
  backend/audit.json
Due: none

refactor: standardize protocol implementations to use implicit typing
  .claude/hooks/security_check.sh
  .claude/hooks/security_guard.go
  .claude/settings.json
  backend/modules/content_generation/infrastructure/repositories/sqlalchemy_content_repository.py
  backend/modules/content_generation/infrastructure/services/attribute_mapping_service.py
  backend/modules/content_generation/infrastructure/services/content_validation_service.py
  backend/modules/content_generation/infrastructure/services/description_generation_service.py
  backend/modules/content_generation/infrastructure/services/gemini_ai_service.py
  backend/modules/content_generation/infrastructure/services/ml_category_service.py
  backend/modules/content_generation/infrastructure/services/title_generation_service.py
  backend/modules/user_management/infrastructure/repositories/sqlalchemy_ml_credentials_repository.py
  backend/modules/user_management/infrastructure/services/ml_oauth_service.py
  backend/test_hooks.py
  frontend/test_hooks.js
  package-lock.json
Due: pyright, tach, prettier

fix: remove @sveltejs/kit from manual chunks to resolve build error
  frontend/vite.config.ts
Due: prettier

fix: synchronize Node.js versions between local and CI environments
  .github/workflows/ci.yml
  .nvmrc
  package.json
Due: none

fix: resolve npm run ci formatting issues with format:fix scripts
  frontend/package.json
  package-lock.json
  package.json
Due: prettier

refactor: remove unnecessary files to reduce codebase complexity
  backend/modules/content_generation/pytest.ini
  backend/modules/content_generation/tests/README.md
  backend/type_checker_analysis/README.md
  backend/type_checker_analysis/SUMMARY.md
  backend/type_checker_analysis/analysis_results.md
  backend/type_checker_analysis/config_tests/pyright_lenient.py
  backend/type_checker_analysis/config_tests/pyrightconfig.json
  backend/type_checker_analysis/generics_tests/basic_generics.py
  backend/type_checker_analysis/generics_tests/generic_constraints.py
  backend/type_checker_analysis/generics_tests/generic_protocols.py
  backend/type_checker_analysis/generics_tests/variance_tests.py
  backend/type_checker_analysis/protocol_tests/missing_methods.py
  backend/type_checker_analysis/protocol_tests/runtime_checkable.py
  backend/type_checker_analysis/protocol_tests/structural_subtyping.py
  backend/type_checker_analysis/protocol_tests/wrong_signatures.py
Due: pyright, tach

refactor: remove unnecessary test_runner.py wrapper script
  backend/modules/content_generation/tests/test_runner.py
Due: pyright, tach

refactor: remove problematic type ignore comments to improve type safety
  backend/modules/content_generation/tests/integration/test_ai_ml_integration.py
  backend/modules/product_management/api/schemas/product_schemas.py
  backend/modules/product_management/application/use_cases/create_product.py
  backend/modules/product_management/infrastructure/models/product_model.py
  backend/modules/product_management/infrastructure/repositories/product_repository.py
  backend/modules/product_management/infrastructure/services/file_cleanup_service.py
Due: pyright, tach

feat: implement shared value objects architecture to replace dict[str, Any] usage
  backend/api/dependencies/__init__.py
  backend/modules/content_generation/application/use_cases/generate_content.py
  backend/modules/content_generation/domain/entities/generated_content.py
  backend/modules/content_generation/domain/services/content_generation.py
  backend/modules/content_generation/domain/services/value_object_migration_service.py
  backend/modules/content_generation/infrastructure/repositories/sqlalchemy_content_repository.py
  backend/modules/content_generation/infrastructure/services/gemini_ai_service.py
  backend/modules/content_generation/tests/integration/test_ai_ml_integration.py
  backend/modules/content_generation/tests/test_performance.py
  backend/modules/content_generation/tests/unit/test_domain_entities.py
  backend/pyproject.toml
  backend/shared/__init__.py
  backend/shared/migration/__init__.py
  backend/shared/migration/value_object_migration.py
  backend/shared/tests/__init__.py
  backend/shared/tests/test_migration.py
  backend/shared/tests/value_objects/__init__.py
  backend/shared/tests/value_objects/test_base_value_object.py
  backend/shared/tests/value_objects/test_ml_attributes.py
  backend/shared/tests/value_objects/test_ml_sale_terms.py
  backend/shared/tests/value_objects/test_ml_shipping.py
  backend/shared/value_objects/__init__.py
  backend/shared/value_objects/base.py
  backend/shared/value_objects/exceptions.py
  backend/shared/value_objects/mercadolibre/__init__.py
  backend/shared/value_objects/mercadolibre/attributes.py
  backend/shared/value_objects/mercadolibre/sale_terms.py
  backend/shared/value_objects/mercadolibre/shipping.py
  backend/shared/value_objects/protocols.py
  backend/tach.toml
Due: pyright, tach

feat: implement hexagonal-compliant logging architecture to eliminate architecture violations
  backend/api/dependencies/__init__.py
  backend/api/dependencies/logging.py
  backend/infrastructure/logging/__init__.py
  backend/infrastructure/logging/adapters.py
  backend/infrastructure/logging/factory.py
  backend/modules/content_generation/api/routers/content_generation_router.py
  backend/modules/content_generation/application/use_cases/generate_content.py
  backend/modules/content_generation/domain/ports/logging/__init__.py
  backend/modules/content_generation/domain/ports/logging/protocols.py
  backend/modules/content_generation/infrastructure/repositories/sqlalchemy_content_repository.py
  backend/modules/content_generation/infrastructure/services/attribute_mapping_service.py
  backend/modules/content_generation/infrastructure/services/content_validation_service.py
  backend/modules/content_generation/infrastructure/services/description_generation_service.py
  backend/modules/content_generation/infrastructure/services/gemini_ai_service.py
  backend/modules/content_generation/infrastructure/services/ml_category_service.py
  backend/modules/content_generation/infrastructure/services/title_generation_service.py
  backend/modules/content_generation/tests/conftest.py
  backend/modules/content_generation/tests/unit/test_services.py
  backend/modules/product_management/application/use_cases/create_product.py
  backend/modules/product_management/domain/ports/file_storage_protocol.py
  backend/modules/product_management/infrastructure/services/file_storage_service.py
  backend/modules/product_management/tests/test_create_product_use_case.py
  backend/modules/user_management/api/routers/ml_oauth_router.py
  backend/modules/user_management/domain/ports/logging/__init__.py
  backend/modules/user_management/domain/ports/logging/protocols.py
  backend/modules/user_management/infrastructure/services/ml_background_tasks.py
  backend/modules/user_management/infrastructure/services/token_refresh_scheduler.py
  backend/shared/logging/__init__.py
  backend/shared/logging/factory_protocol.py
  backend/shared/logging/protocols.py
  backend/shared/migration/value_object_migration.py
  backend/tach.toml
  backend/test_hooks.py
Due: pyright, tach

feat: complete dict-to-DTO refactoring across entire content generation system
  backend/modules/content_generation/api/routers/content_generation_router.py
  backend/modules/content_generation/api/schemas/content_generation_schemas.py
  backend/modules/content_generation/application/use_cases/generate_content.py
  backend/modules/content_generation/domain/entities/__init__.py
  backend/modules/content_generation/domain/entities/ai_generation.py
  backend/modules/content_generation/domain/entities/enhancement_data.py
  backend/modules/content_generation/domain/entities/product_features.py
  backend/modules/content_generation/domain/ports/ai_service_protocols.py
  backend/modules/content_generation/domain/services/content_generation.py
  backend/modules/content_generation/domain/services/value_object_migration_service.py
  backend/modules/content_generation/infrastructure/services/attribute_mapping_service.py
  backend/modules/content_generation/infrastructure/services/description_generation_service.py
  backend/modules/content_generation/infrastructure/services/gemini_ai_service.py
  backend/modules/content_generation/infrastructure/services/ml_category_service.py
  backend/modules/content_generation/infrastructure/services/title_generation_service.py
  backend/modules/content_generation/tests/api/test_content_generation_api.py
  backend/modules/content_generation/tests/integration/test_ai_ml_integration.py
  backend/modules/content_generation/tests/test_performance.py
  backend/modules/content_generation/tests/unit/test_services.py
  backend/shared/migration/__init__.py
  backend/shared/migration/dtos.py
  backend/shared/migration/value_object_migration.py
  backend/shared/tests/test_migration_dtos.py
  backend/shared/value_objects/__init__.py
  backend/shared/value_objects/price_range.py
  backend/shared/value_objects/tests/test_price_range.py
  backend/tach.toml
Due: pyright, tach

refactor: update isinstance calls to use modern union syntax and improve formatting
  backend/modules/content_generation/domain/entities/product_features.py
Due: pyright, tach

feat: implement complete REPLACEMENT strategy to eliminate dict[str, Any] violations
  backend/modules/content_generation/domain/ports/ai_service_protocols.py
  backend/modules/content_generation/domain/value_objects/__init__.py
  backend/modules/content_generation/domain/value_objects/category_results.py
  backend/modules/content_generation/domain/value_objects/price_results.py
  backend/modules/content_generation/domain/value_objects/validation_results.py
  backend/modules/content_generation/infrastructure/services/attribute_mapping_service.py
  backend/modules/content_generation/infrastructure/services/ml_category_service.py
  backend/modules/product_management/domain/entities/__init__.py
  backend/modules/product_management/domain/entities/product_image.py
  backend/modules/product_management/domain/exceptions.py
  backend/modules/product_management/domain/ports/product_repository_protocol.py
  backend/modules/product_management/domain/value_objects/__init__.py
  backend/modules/product_management/domain/value_objects/product_image_metadata.py
  backend/modules/product_management/domain/value_objects/product_image_resolution.py
  backend/modules/product_management/infrastructure/models/product_model.py
  backend/modules/product_management/infrastructure/repositories/product_repository.py
Due: pyright, tach

feat: complete dict-to-DTO refactoring and post-refactor cleanup
  backend/QA_COMPREHENSIVE_REVIEW_REPORT.md
  backend/QA_V3_COMPREHENSIVE_ASSESSMENT_REPORT.md
  backend/modules/content_generation/application/use_cases/generate_content.py
  backend/modules/content_generation/domain/exceptions.py
  backend/modules/content_generation/domain/ports/ai_service_protocols.py
  backend/modules/content_generation/domain/services/content_generation.py
  backend/modules/content_generation/domain/value_objects/__init__.py
  backend/modules/content_generation/domain/value_objects/category_results.py
  backend/modules/content_generation/domain/value_objects/ml_attributes.py
  backend/modules/content_generation/domain/value_objects/price_results.py
  backend/modules/content_generation/domain/value_objects/validation_results.py
  backend/modules/content_generation/infrastructure/services/attribute_mapping_service.py
  backend/modules/content_generation/infrastructure/services/ml_category_service.py
  backend/modules/content_generation/infrastructure/validation/__init__.py
  backend/modules/content_generation/infrastructure/validation/type_safety_validator.py
  backend/modules/product_management/domain/entities/product_image.py
  backend/modules/product_management/domain/exceptions.py
  backend/modules/product_management/domain/ports/product_repository_protocol.py
  backend/modules/product_management/domain/value_objects/__init__.py
  backend/modules/product_management/domain/value_objects/product_image_metadata.py
  backend/modules/product_management/domain/value_objects/product_image_resolution.py
  backend/modules/product_management/infrastructure/models/product_model.py
  backend/modules/product_management/infrastructure/repositories/product_repository.py
  backend/shared/value_objects/price_range.py
  backend/tach.toml
Due: pyright, tach

feat: implement correct protocol usage and fix all local checks
  COMPREHENSIVE_TYPE_SAFETY_ARCHITECTURE.md
  backend/api/dependencies/__init__.py
  backend/modules/content_generation/tests/integration/test_ai_ml_integration.py
  backend/modules/content_generation/tests/unit/test_services.py
  backend/modules/product_management/infrastructure/services/file_storage_service.py
  backend/modules/user_management/infrastructure/services/ml_background_tasks.py
  backend/shared/value_objects/base.py
  backend/shared/value_objects/mercadolibre/attributes.py
  backend/shared/value_objects/mercadolibre/sale_terms.py
  backend/shared/value_objects/mercadolibre/shipping.py
  backend/shared/value_objects/protocols.py
  tests/conftest.py
  tests/integration/api/test_health.py
Due: pyright, tach

chore: remove unnecessary documentation files
  backend/QA_COMPREHENSIVE_REVIEW_REPORT.md
  backend/QA_V3_COMPREHENSIVE_ASSESSMENT_REPORT.md
Due: none

refactor: reduce excessive documentation in value object base classes
  backend/shared/value_objects/base.py
  backend/shared/value_objects/protocols.py
Due: pyright, tach
